<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personality Assessment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Personality Assessment</h1>

        <form action="/" method="POST">
            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" required placeholder="Your Email" class="form-control mb-4">

            <div class="questions">
                {% for index, question in enumerate(questions) %}
                    <div class="question">
                        <p>{{ question['question'] }}</p>
                        <label for="response-{{ index }}">1 - Not at all, 5 - Very Much</label>
                        <input type="range" id="response-{{ index }}" name="{{ index }}" min="1" max="5" value="3">
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</body>
</html>
